<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>FormularzServlet</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection> 
        <auth-constraint>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>   
            <form-error-page>/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>Admin</role-name>
    </security-role>
  -->
    <servlet>
        <servlet-name>shop</servlet-name>
        <servlet-class>model.controler.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Koszyk</servlet-name>
        <servlet-class>model.controler.KoszykServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormularzServlet</servlet-name>
        <servlet-class>model.controler.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>shop</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Koszyk</servlet-name>
        <url-pattern>/koszyk</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormularzServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  --&gt;
    </web-app>
